<!DOCTYPE html>
<html lang="en">

<head>
  <script defer src="/jsFiles/createtask.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Task</title>
  <link rel="stylesheet" href="/cssFiles/styles.css">
  <link rel="stylesheet" href="/cssFiles/createtask.css">
</head>

<body>
  <h1>Create New Task</h1>
  <br>
  <a style="padding: 8px;" class="btn" href="/dashboard">Back to Tasks List</a>

  <form id="createTaskForm" action="/createtask" method="POST">
    <div>
      <label for="title">Title</label>
      <input type="text" name="title" id="title" required>
    </div>


    <div>
      <label for="priority">Priority</label>
      <select name="priority" id="priority" required>
        <option value="<%- TaskPriority.HIGH %>"><%- TaskPriority.HIGH %></option>
        <option value="<%- TaskPriority.MEDIUM %>"><%- TaskPriority.MEDIUM %></option>
        <option value="<%- TaskPriority.LOW %>"><%- TaskPriority.LOW %></option>
      </select>
    </div>

    <div>
      <label for="description">Description</label>
      <textarea name="description" id="description" required></textarea>
    </div>

    <div>
      <label for="assignedUser">Assigned User</label>
      <select name="assignedUser" id="assignedUser" required>
        <% for( let i=0; i < users.length; i++ ) { %>
          <% if (users[i].role=="User" ) { %>
            <option value="<%- users[i].email %>"><%- users[i].email %></option>
          <% } %>
        <% } %>
      </select>
    </div>

    <div>
      <label for="dueDate">Due Date</label>
      <input type="date" name="dueDate" id="dueDate" required>
    </div>

    <button type="submit">Create Task</button>
  </form>

  <div id="errorMessage" style="color: red; margin-top: 10px;"></div>

</body>

</html>
