<%- include('partials/header'); -%>

<body data-user-role="<%= user.role %>">
  
 <div class="board">
  <% const columns = ['to do', 'in progress', 'done']; %>
  <% columns.forEach(column => { %>
    <div class="column" data-column="<%= column %>">
      <div class="column-header"><%= column.charAt(0).toUpperCase() + column.slice(1) %></div>
      <div class="dropzone">
        <% tasks.forEach(task => { %>
          <% if (task.status === column && (user.email === task.assignedUser || user.role === 'Admin')) { %>
            <div class="card" data-task-id="<%= task._id %>" draggable="true"> 
              <% if (user.role === "Admin") { %>
                <div style="display: flex; justify-content: end;">
                  <a href="/dashboard" style="align-items: end;" class="close" data-id="<%- task._id %>" >&times;</a>
                </div>
                <% } %>
                <h3>Title: <%= task.title %></h3>
              <p>Priority: <%= task.priority %></p>
              <p>Description: <%= task.description %></p>
              <p style="font-weight: bold;">User: <%= task.assignedUser %></p>
              <p><%= task.dueDateFormatted %></p>
              <% if (user.role === 'Admin') { %>
                <a style="padding: 8px 12px;" href="/tasks/<%- task._id %>" class="btn" >Edit Task</a>
                <!-- <button style= "background-color: brown; color: wheat;" class="btn" >Delete Task</button> -->
              <% } %>
            </div>
          <% } %>
        <% }) %>
      </div>
    </div>
  <% }) %>
</div>


<script defer src="/jsFiles/dashboard.js"></script>


  <%- include('partials/footer'); -%>
